In [31]:
import csv
import json

In [63]:
eqreader = None
disasters = []

with open('./earthquakes/earthquakes.tsv', 'r') as f:
    eqreader = csv.reader(f, delimiter='\t', quotechar='"')

    for row in eqreader:
        if row[0] != 'Search Parameters': 
            if int(row[1]) >= 2021:
                info = f'{row[1]}-{row[2]}-{row[3]} {row[4]}:{row[5]}:{row[6]} Location Name: {row[9]}'
                lat = float(row[10])
                lon = float(row[11])
            
                disasters.append({
                    'info': info,
                    'lat': lat,
                    'lon': lon,
                    'dtype': 'earthquake'
                })

In [65]:
with open('./tsunamis/runups.tsv', 'r') as f:
    eqreader = csv.reader(f, delimiter='\t', quotechar='"')

    i = 0
    for row in eqreader:
        if i < 2:
            i += 1
            continue # skip predata
        
        if len(row[17]) == 0 or len(row[18]) == 0:
            continue
        if int(row[1]) >= 2021:
            info = f'{row[1]}-{row[2]}-{row[3]} {row[4]}:{row[5]}:{row[6]} Location Name: {row[11]}'
            lat = float(row[17])
            lon = float(row[18])
            
            disasters.append({
                    'info': info,
                    'lat': lat,
                    'lon': lon,
                    'dtype': 'tsunami'
            })

In [66]:
with open('disasters.json', 'w', encoding='utf-8') as f:
    json.dump(disasters, f, ensure_ascii=False, indent=4)

In [68]:
import pandas as pd

In [69]:
df = pd.read_csv('./hurricanes/hurricanes.csv')

C:\Users\JtheMage\AppData\Local\Temp\ipykernel_2504\3777299293.py:3: DtypeWarning: Columns (1,2,8,9,14,161,162) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./hurricanes/hurricanes.csv')

In [94]:
df.drop(index=df.index[0], axis=0, inplace=True)

In [102]:
df = df.astype({'SEASON': 'int'})

In [103]:
df.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,BOM_GUST_PER,REUNION_GUST,REUNION_GUST_PER,USA_SEAHGT,USA_SEARAD_NE,USA_SEARAD_SE,USA_SEARAD_SW,USA_SEARAD_NW,STORM_SPEED,STORM_DIR
1,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 00:00:00,TS,-12.5000,172.500,...,,,,,,,,,6,351
2,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 03:00:00,TS,-12.1927,172.441,...,,,,,,,,,6,351
3,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 06:00:00,TS,-11.9144,172.412,...,,,,,,,,,5,358
4,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 09:00:00,TS,-11.6863,172.435,...,,,,,,,,,4,12
5,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 12:00:00,TS,-11.5000,172.500,...,,,,,,,,,4,22

In [105]:
df = df[df['SEASON'] >= 2021]

In [106]:
hurricanes = []
sids = df['SID'].unique()
g = df.groupby(df['SID'])

for sid in sids:
    if sid != ' ':
        gdf = g.get_group(sid)

        path = []
        for i, row in gdf.iterrows():
            path.append([float(row['LAT']), float(row['LON'])])
        
        hurricanes.append({
            'sid': sid,
            'path': path
        })

In [90]:
with open('hurricanes.json', 'w', encoding='utf-8') as f:
    json.dump(hurricanes, f, ensure_ascii=False, indent=4)